/*

	TABLE OF CONTENTS
		Header
		About
		Gallery
		Slides
		End Summary
		Final section
		Gists


	COLORS
		Yellow:	 	#E3A730
		Green:		#2B8F83
		Dark Gray: 	#362B3C
		Dark Brown: #75685E
		BG Lines:	url('../img/bg.png')
		Box Shadow: 0px 0px 5px rgba(0,0,0,.5)


	MEDIA QUERY BREAK POINTS
		(max-width: 768px)
		(min-width: 769px) and (max-width: 1024px)
		(min-width: 1025px) and (max-width: 1680px)
		(min-width: 1681px)

*/

html, body{
	height: 100%;
}

nav{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0em;
	z-index: 10000;
}

nav li:nth-child(1){
	position: absolute;
	top: .75em;
	right: 1.5em;
}

nav li:nth-child(2){
	position: absolute;
	bottom: .75em;
	left: 1.5em;
}

nav li:nth-child(3){
	position: absolute;
	bottom: .75em;
	right: 1.5em;
}

nav a{
	display: flex;
	align-items: center;
}

nav li polygon{
	fill:#DADBD0;
	transition: fill .3s ease;
}

nav li:hover polygon{
	fill:#fcc457;
	transition: fill .3s ease;
}

nav span{
	opacity: 0;
	transition: opacity .3s ease;
	padding: .75em;
	color: #fcc457;
	text-shadow: 1px 1px 2px #000;
}

nav li:hover span{
	opacity: 1;
	transition: opacity .3s ease;
}

@media (max-width:48em) {

	nav span{
		display: none;
	}
	nav svg{
		margin-left: .75em;
		padding: .75em;
	}

}


/*                                    Work Sample: Header */

header{
	position: relative;
	display: flex;
	flex-flow: column wrap;
	position: relative;
	justify-content: flex-start;
	width: 100%;
	height:50%;
	background-color: #362B3C;
}

header div{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

header h1{
	text-align: center;
	color: #fff;
	font-size: 5.2em;
	font-weight: 300;
	text-shadow: 2px 2px 2px #000;
	padding: 0px 24px;
}

header sup{
	color:#fff;
	vertical-align: super;
	font-size: 40%;
}

header h2{
	text-align: center;
	color: #fff;
	font-size: 1.6em;
	font-weight: 300;
	line-height: 150%;
	text-shadow: 2px 2px 2px #000;
	padding: 0px 24px;
}

header img{
	flex:1;
	display: block;
	object-fit: cover;
	object-position: center;
	box-sizing: border-box;
	height: 80%;
	opacity: .22;
	-webkit-filter: blur(11px);
	filter: blur(11px);
}

/*                                    Work Sample: Sections */
section{
	box-sizing: border-box;
	border-top: 4px solid #362B3C;
	padding: 0px 96px 156px 96px;
}

/*                                    Work Sample: About Section */
.detail_about{
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	background-image: url('../img/bg_3.png');
}

.detail_about h1{
	flex-basis:100%;
}

.detail_about div{
	flex: 1;
	margin: 0px 24px;
	justify-content: center;
}

.detail_about .skills{
	border: 2px solid #362B3C;
	padding: 36px;
	box-sizing: border-box;
	background-color: #fff;
	margin-top: 36px;
}

.detail_about #purpose{
	flex:3;
}

.detail_about.long{
	flex-flow: column;
	align-items: center;
	background-image: url('../img/bg_3.png');
}

.detail_about.long div{
	max-width: 792px;
	margin: 24px 0px;
}

.gallery div{
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}
.gallery p{
	max-width: 792px;
	margin: 24px 0px;
}

.skills ul, .detail_about ul{
	flex-flow: column;
	align-items: flex-start;
	list-style-type: circle;
	list-style-position: inside;
	line-height: 200%;
	margin-top: 6px;
}


@media (max-width: 768px){

	section{
		box-sizing: border-box;
		border-top: 4px solid #362B3C;
		padding: 0px 24px 72px 24px;
	}

	.detail_about{
		flex-flow: column;
	}

	.detail_about div{
		flex: 1;
		margin: 24px 0px;
	}

}

@media (min-width: 769px) and (max-width: 1024px) {

	section{
		box-sizing: border-box;
		border-top: 4px solid #362B3C;
		padding: 0px 72px 72px 72px;
	}

	.detail_about{
		flex-flow: column;
	}

	.detail_about div{
		flex: 1;
		margin: 24px 0px;
	}

}



/*                                    Work Sample: Gallery Section */

.gallery {
	display: flex;
	flex-flow: row wrap;
	background-image: url('../img/bg.png');
}

.gallery h1{
	flex-basis: 100%;
}

.gallery img{
	box-sizing: border-box;
	display: block;
	border: 2px solid #362B3C;
	height: 288px;
	object-fit: cover;
	margin:6px;

}

img[src*="01"], img[src*="02"], img[src*="04"], img[src*="05"], img[src*="06"], img[src*="07"]{
	flex: 1 0 20%;
}

img[src*="03"]{
	flex: 2 0 30%;
}


/*                                   Work Sample: Slides Section */

.slides{
	display: flex;
	flex-flow: row wrap;
}

.slides h1{
	flex-basis: 100%;
}

.slides > .fotorama{
	order: 1;
	max-width: 58%;
	flex-basis: 100%;
}

.slides > div:last-of-type{
	margin-top: 18px;
	font-size: 1.3em;
	line-height: 150%;
	order: 2;
	margin-left: 4%;
	width: 38%;
}


.video > .fotorama{
	max-width: 60%;
	max-height: 50%;
	margin-top: 0px !important;
}

.slides.reverse > .fotorama{
	order: 2;
}

.slides.reverse > div:last-of-type{
	order: 1;
}

@media (max-width: 1024px){

	.slides > .fotorama{
		max-width: 100%;
	}

	.slides > div:last-of-type{
		margin-left: 2%;
		margin-right: 0%;
		margin-bottom: 24px;
		width:100%;
		font-size: 1.2em;
	}

	.slides.reverse > div:last-of-type{
		margin-left: 0%;
		margin-right: 2%;
	}

	.slides.reverse .fotorama{
		order: 1;
	}

	.slides.reverse > div:last-of-type{
		order: 2;
	}

}

@media (min-width: 1025px) and (max-width: 1680px){

	.slides > .fotorama{
		max-width: 62%;
	}

	.slides > div:last-of-type{
		margin-left: 4%;
		margin-right: 0%;
		width: 34%;
		font-size: 1.1em;
	}

	.slides.reverse > div:last-of-type{
		margin-left: 0%;
		margin-right: 4%;
	}

}

@media (min-width: 1681px){

	.slides > .fotorama{
		max-width: 64%;
	}

	.slides > div:last-of-type{
		margin-left: 4%;
		margin-right:0%;
		width: 32%;
	}

	.slides.reverse > div:last-of-type{
		margin-left: 0%;
		margin-right: 4%;
	}

}

/*                                    Work Sample: End Summary */

.endSummary{
	display: flex;
	flex-flow: column;
	align-items: center;
	background-position: center;
}

.endSummary > div{
	display: flex;
	justify-content: center;
	width: 100%;

}

.endSummary p{
	max-width: 792px;
	margin: 24px 0px;
}

.endSummary .links a.button{
	background-color: #362B3C;
	border: 2px solid rgba(255, 255, 255, 0.5) ;
	padding: 12px 32px;
	border-radius: 5px;
	cursor: pointer;
	margin: 0px 6px;
	margin-bottom: 48px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	font-size: 1.25em;
	text-align: center;
}

.endSummary .links a:hover{
	border-color: #E3A730;
	background-color: #fcc457;
	color: #362B3C;
	padding: 12px 32px;
	text-transform: capitalize;
	text-decoration: none;
	transition: border-color .3s ease,
					background-color .3s ease,
					color .3s ease;
}

@media (max-width: 1024px) {

	.endSummary div{
		flex-flow: column;
	}

	.endSummary div:last-of-type a{
		margin: 6px 0px !important;
	}

}


/*                                  	Work Sample: Final Section */
.final{
	background-color: #362B3C;
}

.final div * {
	color: #fff;
}


/*                                    Gists */

.gist_container{
	display: flex;
	flex-flow: row wrap;
}

.gist_container h1{
	flex-basis: 100%;
}

.gist_container > div:first-of-type{
	flex:3;
	margin-right: 24px;
}

.gist_container > div:last-of-type {
	flex: 1;
 }

@media (max-width:1024px){

	.gist_container{
		display: flex;
		flex-flow: column;
	}

	.gist_container > div:first-of-type{
		flex:1;
		margin-right: 0px;
		order: 2;
	}

	.gist_container > div:last-of-type {
		flex: 1;
		margin-bottom: 36px;
		order: 1;
	}

}

*.gist *{
    font-family: monospace;
	 font-weight: 500;
	 font-size: 1em !important;
}

.gist, .gist-file, .gist-data, .js-gist-file-update-container, .js-task-list-container, .file-box{
	max-height: 480px !important;
}
