/*

	TABLE OF CONTENTS
		Header
		About
		Research
		Testing
		Revisions
		Prototype


	COLORS
		Yellow:	 	#E3A730
		Dark Gray: 	#362B3C
		Dark Brown: #75685E
		BG Lines:	url('../img/bg.png')
		Box Shadow: 0px 0px 5px rgba(0,0,0,.5)


	MEDIA QUERY BREAK POINTS
		(max-width: 768px)
		(min-width: 769px) and (max-width: 1024px)
		(min-width: 1025px) and (max-width: 1680px)
		(min-width: 1681px)

*/



nav{
	position: relative;
}
/*                                    Header */
header{
	display: flex;
	flex-flow: column;
	position: relative;
	justify-content: top;
	width: 100%;
	height: 200px;
}

header div{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1{
	text-align: center;
	color: #fff;
	font-size:3em;
	text-shadow: 2px 2px 2px #000;
}

header img{
	flex:1;
	display: block;
	object-fit: cover;
	object-position: center;
	box-sizing: border-box;
}


/*                                    Sections */
section{
		box-sizing: border-box;
		border-top: 4px solid #362B3C;
		padding: 0px 144px 288px 144px;


}

/*                                    About */
#cs_about{
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
}

#cs_about h1{
	flex-basis:100%;
}

#cs_about div{
	flex: 1;
	margin: 0px 24px;
}

@media (max-width: 1024px) {
	section{
		box-sizing: border-box;
		border-top: 4px solid #362B3C;
		padding: 0px 24px 72px 24px;
	}

	#cs_about{
		flex-flow: column;
	}

	#cs_about div{
		flex: 1;
		margin: 24px 0px;
	}
}

section p{
	font-family: 'Roboto Slab', serif;
	font-size: 1.3em;
	line-height: 1.4em;
}



/*                                    Research */
#cs_research{
	display: flex;
	flex-flow: row wrap;
}

#cs_research h1{
	flex-basis: 100%;
}

#cs_research img{
	box-sizing: border-box;
	display: block;
	height: 288px;
	object-fit: cover;
	margin:6px;
}
img[src*="01"], img[src*="02"], img[src*="04"], img[src*="05"], img[src*="06"], img[src*="07"]{
	flex: 1 ;
}
img[src*="03"]{
	flex: 1 ;
}


/*                                    Design 1*/

#cs_design1{
	display: flex;
	flex-flow: row wrap;
}

#cs_design1 h1{
	flex-basis: 100%;
}


.slides{
	max-width: 640px;
	overflow: hidden;
	object-fit: cover;
}

.slides_container{
	max-width: 640px;
	height: 480px;
	object-fit: cover;
	overflow: hidden;
}

.slides_container img{
	max-width: 640px;
	height: 480px;
	object-fit: cover;
	overflow: hidden;
}

#cs_design1 > div{
	flex: 1;

}

#cs_design1 > div:first-of-type{
	display: flex;
	justify-content: center;
}

#cs_design1 p{
	margin-top: 18px;
	font-size: 1.4em;
}


/*                                    Design Testing */
#cs_testing{
	display: flex;
	flex-flow: row wrap;
}

#cs_testing h1{
	flex-basis: 100%;
}

#cs_testing div{
	flex: 1;
 	height: 500px;
}

#cs_testing > div:last-of-type{
	display: flex;
	flex-flow: row wrap;

	padding-left: 72px;
}

#cs_testing img{
	height: 50%;
	flex: 1 0 50%;
	object-fit: contain;
}



/*                                    Prototype */
#prototype div{
	display: flex;
	justify-content: center;
}



#prototype div:last-of-type{
	margin-top: 48px;
}

#prototype div:last-of-type a{
	background-color: white;
	border: 2px solid #362B3C;
	padding: 12px 32px;
	border-radius: 5px;
	cursor: pointer;
	margin: 0px 6px;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	font-size: 1.25em;
	text-align: center;
}

#prototype div:last-of-type a:hover{
		border-color: #E3A730;
}

@media (max-width: 1024px) {
	#prototype div{
		flex-flow: column;
	}

	#prototype div:last-of-type a{
		margin: 6px 0px;
	}
}
