/*

	TABLE OF CONTENTS
		Intro
		Work Samples
		Experience
		About Me
		Involvement


	COLORS
		Yellow:	 		#E3A730, #FCC457
		Dark Gray: 		#362B3C
		Medium Gray:	#58504E
		Dark Brown: 	#75685E
		Aqua:				#12a8a5
		BG Lines:		url('../img/bg.png')
		Box Shadow: 	0px 0px 5px rgba(0,0,0,.5)


	MEDIA QUERY BREAK POINTS
		(max-width: 48em)
		(min-width: 48.0625em) and (max-width: 64em)
		(min-width: 64.0625em) and (max-width: 105em)
		(min-width: 105.0625em)

*/


/*                                     Intro  */


header{
	display:flex;
	flex-flow: column;
	align-items: center;
	padding: 72px 36px;
	//background-color: rgba(163, 182, 3, 0.25);
	background-image: url('../img/bg.png');
}


header > img{
	width:288px;
	height:288px;
	border-radius: 144px;
	border: 6px solid 	#ffffff;
	box-shadow: 0px 0px 8px rgba(54, 43, 59, 0.25);
}

#social{
	margin-top: 12px;
	margin-bottom: 12px;
}


#social li{
	margin: 18px 8px;
	height: 51px;
	width: 48px;
	overflow: hidden;
}

#social img{
	height: 102px;
	width: 48px;
}

#social li:hover  img{
	margin-top: -51px;
}


/*                                     Work Samples  */

#workSamples{
	padding: 0px 60px 72px 60px;
	border-top: 4px solid #362B3C;
	background-color: #58504E;
}

/*#58504e

#534e58*/

#wsContainer{
	display: flex;
	flex-flow: row wrap;
	margin: auto;
}

.caseStudy{
	position: relative;
	margin: 6px;
	box-sizing: border-box;
	background-color: #fff;
	color: #362B3C;
	border: 2px solid #362B3C;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.caseStudy:hover, .caseStudy:active{
	border: 2px solid #E3A730;
	transition: border .3s ease;
}

.caseStudy img{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.label{
	position: absolute;
	bottom:0px;
	box-sizing: border-box;
	height: 70px;
	width: 100%;
	padding: 0px 18px;
	background-color: rgba(255, 255, 255, .9);
	border-top: 2px solid #362B3C;
	text-align: left;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
}

.caseStudy:hover .label{
	background-color: #FCC457;
	transition: background-color .3s ease;
}


@media (min-width: 48.0625em) and (max-width: 64em) {
	#workSamples{
		padding: 0px 36px 72px 36px;
	}

	#wsGroup_1, #wsGroup_2{
		flex:2;
		flex-basis: 100%;
		display: flex;
		flex-flow: row wrap;
	}

	#ws_1{
		flex: 2;
		height:360px;
		flex-basis: 100%;
	}

	#ws_2, #ws_3, #ws_4, #ws_5, #ws_6, #ws_7, #ws_8, #ws_9 {
		flex: 1;
		height: 240px;
		flex-basis: 32%;
	}

}

@media (min-width: 64.0625em) and (max-width: 105em) {
	#wsGroup_1{
		flex:1;
		max-width: 36%;
		min-width: 33.3%;
		min-height: 100%;
		display: flex;
		flex-flow: column;
	}

	#wsGroup_2{
		flex:2;
		max-width: 69%;
		min-width: 66.7%;
		display: flex;
		flex-flow: row wrap;
	}

	#ws_1{
		flex: 2;
		height: 480px;
		max-width: 65.95%;
		min-width: 64%;
	}

	#ws_3{
		flex: 1;
		height: 168px;
	}

	#ws_2, #ws_4, #ws_5{
		flex: 1;
		height: 300px;
	}

	#ws_6, #ws_7, #ws_8, #ws_9 {
		flex: 1;
		min-width: 31%;
		max-width: 33%;
		height: 300px;
	}
}



@media (min-width: 105.0625em) {
	#wsGroup_1, #wsGroup_2{
		flex: 1;
		flex-basis: 20%;
		display: flex;
		flex-flow: column;
	}

	#ws_1{
   	flex: 2;
   	flex-basis: 39.4%;
		height:516px;
   }

   #ws_2, #ws_3, #ws_4, #ws_5, #ws_6, #ws_7, #ws_8, #ws_9 {
   	flex: 1;
   	flex-basis: 20%;
   	height: 252px;
   }
 }

 @media handheld, (max-width: 48em), (-webkit-device-pixel-ratio:3) {

 	#workSamples{
 		padding: 0 24px 36px 24px;
 	}

	.label{
		text-align: center;
		align-items: center;
		height: auto;
		padding: 8px 12px;
	}

 	#wsGroup_1, #wsGroup_2{
 		flex:1;
 		flex-basis: 100%;
 		display: flex;
 		flex-flow: column;
 	}

 	#ws_1, #ws_2, #ws_3, #ws_4, #ws_5, #ws_6, #ws_7, #ws_8, #ws_9 {
 		flex: 1;
 		flex-basis: 100%;
 		height: 210px;
 	}
 }


/*                                     Experience */

#experience{
	padding: 0px 72px 72px 72px;
	background-color: rgba(218, 219, 209, .6);
	border-top: 4px solid #362B3C;
	display:flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-image: url('../img/bg_3.png')
}

#expContainer{
	display:flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	max-width: 960px;
}

#expContainer article{
	box-sizing: border-box;
	position: relative;
	display:flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: auto;
	margin: 4px;
	padding: 18px 30px;
	background-color: #fff;
	border: 1px solid #999;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

#expContainer article div:first-child{
	flex:4;
	padding: 18px 30px 18px 0px;
	border-right: 1px solid #eaeaea;
}

#expContainer article div:last-child{
	flex: 1;
	padding-left: 30px;
	min-width: 144px;
	display:flex;
	flex-flow: column;
	align-items: center;
}


@media handheld, (max-width: 48em), (-webkit-device-pixel-ratio:3) {

	#experience{
		padding: 0px 36px 72px 36px;
	}

	#expContainer article{
		display:flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	#expContainer article div:first-child{
		padding: 18px 0px;
		border-right: 0px;
	}

	#expContainer article div:last-child{
		padding-left: 0px;
		display:flex;
		text-align: left;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	h6{
		margin-top: 		6px;
	}
}

/*                                     About Me */
#aboutMe{
	border-top: 4px solid #362B3C;
	background-color: #362B3C;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 0px 144px 72px 144px;
}

#aboutMe h1{
	flex-basis: 100%;
	margin-left: auto;
	margin-right: auto;
}

#aboutMe p{
	color:#fff;
	flex: 4;
	font-family: 'Roboto Slab', serif;
	font-size: 1.3em;
	line-height: 1.4em;
	margin-right: 48px;

}

#aboutMe > div{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	flex:3;
}

#aboutMe ul{
	flex: 1 0 45%;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	color: #362B3B !important;
}

.design, .interest{
	margin-right: 26px;
}

#aboutMe li:first-child{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 12px;
}

#aboutMe li:last-child{
	margin-bottom: 24px;
}


@media handheld, (max-width:64em), (-webkit-device-pixel-ratio:3){

	#aboutMe{
		flex-flow: column;
		padding: 0px 36px 72px 36px;
	}

	#aboutMe > div{
		flex-flow: row wrap;
		justify-content: center;
		flex-basis: 100%;
	}

	#aboutMe ul{
		width: 15%;
	}

	#aboutMe p{
		padding-bottom: 36px;
		margin-right: 0px;
		font-size: 1.1em;
	}

}

/*                                     Involvement */

#involveRec{
		border-top: 4px solid #362B3C;
		background-color: rgba(218, 219, 209, .6);
		background-image: url('../img/bg_3.png');
		padding: 0px 36px 72px 36px;
}

#invContainer{
		display:inline-flex;
		flex-wrap: wrap;
		justify-content: center;
}

#invContainer article{
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-flow: column;
	width: 24%;
	min-width: 336px;
	height: 168px;
	margin: 4px;
	padding: 30px;
	padding-left: 60px;
	background-color: #fff;
	border: 1px solid #999;
	border-top: 2px solid #362B3C;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}



.layer1 img	{
	position:absolute;
	top: 32px;
	left: 30px;
}

.layer1{
	opacity: 1;
	transition: opacity .3s ease;
}

#invContainer img:first-child	{
	position:absolute;
	bottom: 12px;
	right: 12px;
}

.layer2{
	opacity:0;
	position:absolute;
	top: 32px;
	left: 60px;
	right: 30px;
	transition: opacity .3s ease;
}

#invContainer article:hover {
	cursor:help;
	transition: opacity .3s ease;
}

#invContainer article:hover .layer1{
	opacity: 0;
	transition: opacity .3s ease;
}


#invContainer article:hover .layer2{
	opacity: 1;
	transition: opacity .3s ease;
}

.dotDivider{
	display: none;
}


@media handheld, (max-width:775px), (-webkit-device-pixel-ratio:3){
	#involveRec{
	padding: 0px 24px 72px 24px;
	}

	#invContainer article{
		width: 100%;
		height:auto;
		margin: 4px 0px;
	}

	#invContainer img:first-child	{
		display: none;
	}

	.layer1{
		padding-bottom:6px;
		border-bottom: 1px solid #eaeaea;
	}

	.layer1 h3, .layer1 h4, .dotDivider{
		display: inline-block;
	}

	.layer2{
		opacity:1;
		position:static;
		padding-left: 30px;
		margin-top:12px;
	}

	#invContainer article:hover {
		cursor:auto;
		opacity: 1;
		transition:none;
	}

	#invContainer article:hover .layer1{
		opacity: 1;
		transition: none;
	}


	#invContainer article:hover .layer2{
		opacity: 1;
		transition: none;
	}
}
