/*    TABLE OF CONTENTS

		Global Styles
		Intro
		Work Samples
		About Me
		Experience
		Involvement
		Contact


		COLORS
		Yellow:	 	#E3A730
		Dark Gray: 	#362B3C

*/

/*                                     Global Styles  */

*{
	margin:0px;
	padding:0px;
}

ul{
	list-style-type: none;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: middle;
	box-sizing: border-box;
}

nav li{
	padding: 18px;
}

nav{
	background-color: #fff;
	background-image: url(../img/bg.png);
	position: fixed;
	z-index: 9999;
	width: 100%;

}

#intro button{
	background-color: white;
	border: 2px solid #362B3C;
	color: #362B3C;
	padding: 12px 32px;
	font-size: 1.25em;
	border-radius: 5px;
	cursor: pointer;
}

#intro button:hover{
	border-color: #E3A730;
}

section{
	padding-bottom: 36px;
}


/*                                     Intro  */


#intro{
	display:flex;
	flex-flow: column;
	align-items: center;
	padding-top: 132px;
	padding-bottom: 72px;
	//background-color: rgba(54, 43, 60, 0.1);
	background-image: url('../img/bg.png');
	min-height:700px;
}


#intro > img{
	width:288px;
	height:288px;
	border-radius: 144px;
	border: 8px solid #ffffff;

}


#social li{
	margin: 18px 8px;
	height: 51px;
	width: 48px;
	overflow: hidden;
}

#social img{
	height: 102px;
	width: 48px;
}

#social li:hover > img{
	margin-top: -51px;
	cursor: pointer;
}


/*                                     Work Samples  */

#workSamples{
	padding: 0 72px 36px 72px;
	position:relative;
	border-top: 4px solid #362B3C;
	background-color: #75685E;
	//background-image: url('../img/bg.png');
	background-repeat: repeat;
}

.topRow, .bottomRow{
	display: flex;
	flex-flow: row wrap;
	margin:auto;
}

#topColumn{
	flex: 1;
	display: flex;
	flex-flow: column;
	min-height: 100%;
}

#workSamples img{
	object-fit: cover;
	object-position: top;
	box-sizing: border-box;
	//box-shadow: 0px 0px 4px #362B3C;
	//padding: 6px;
}

.topRow>:first-child{
	height:434px;
	flex: 1.97;
	overflow: hidden;
}

.topRow>:last-child{
	flex:1;
}

#topColumn>:first-child{
	height: 240px;
}

#topColumn>:last-child{
	height: 182px;
}

.bottomRow .caseStudy{
		flex: 1;
		min-width: 31%;
		height: 240px;
}

.caseStudy{
	background-color: #fff;
	margin: 6px;
	position: relative;
	box-sizing: border-box;
	color:#362B3C;
	border: 2px solid #362B3C;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.caseStudy img{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.label{
	height: 70px;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	color:#362B3C;
	//border-top: 2px solid #362B3C;
	z-index: 2;
	display: flex;
	flex-flow: column;
	position: absolute;
	justify-content: center;
	align-items: center;
	padding-left: 24px;
	box-sizing: border-box;
	bottom:0px;
}



/*                                     Experience */

#experience{
	padding: 0px 20% 72px 20%;
	//background-color: #75685E;
	border-top: 4px solid #362B3C;
}

#expContainer{
	display:flex;
	flex-flow: column;
}

#expContainer article{
	display:flex;
	flex-flow: row;
	align-items: center;
	margin-top: 12px;
	margin-bottom: 12px;

}

#expContainer img {
	margin: 10px 6px 0px 0px;
}

.divider{
	display: block;
	width: 800px;
	height: 1px;
	margin: 10px 0px 12px 0px;
	background-color: rgba(0, 0, 0, 0.15);
}


/*                                     Involvement */
#involveRec{
		border-top: 4px solid #362B3C;
		//background-color: #362B3C;
		background-image: url('../img/bg.png');
}

#invContainer{
		display:inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px 36px;
}

#invContainer article{
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-flow: column;
	width: 24%;
	min-width: 336px;
	height: 168px;
	margin: 4px;
	padding: 30px;
	padding-left: 60px;

	background-color: #fff;

	border: 1px solid #999;
	border-top: 2px solid #362B3C;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.layer1 img	{
	position:absolute;
	top: 32px;
	left: 30px;
}

.layer1{
	opacity: 1;
	transition: opacity .4s;
}

#invContainer img:first-child	{
	position:absolute;
	bottom: 12px;
	right: 12px;
}

.layer2{
	opacity:0;
	position:absolute;
	top: 32px;
	left: 60px;
	right: 30px;
	transition: opacity .4s;
}

#invContainer article:hover {
	cursor:help;
	transition: opacity .4s;
}

#invContainer article:hover .layer1{
	opacity: 0;
	transition: opacity .4s;
}


#invContainer article:hover .layer2{
	opacity: 1;
	transition: opacity .4s;
}

/*                                     Footer */

#contact{
	padding: 0px 36px 36px 36px;
	background-color: #75685E;
	border-top: 4px solid #362B3C;
}


#contactContainer{
	display: flex;
}

#form{
	flex: 1;
	display: flex;
	flex-flow: column;
	padding-right: 12px;
}

#form input, #form textarea{
	height:48px;
	box-sizing: border-box;
	margin-bottom: 6px;
	padding: 0px 12px;
}

#form textarea{
	height: 144px;
	box-sizing: border-box;
	margin-bottom: 6px;
	padding: 12px 12px;
}

#socialFooter, #contactSocial{
	flex: 1;
	display: flex;
	flex-flow: column;
	padding-left: 12px;
	padding-right: 12px;
}

#twitter{
	flex:1;
}

#socialFooter div{
	display: inline-block;
	margin: 8px;
	height: 51px;
	width: 48px;
	overflow: hidden;
}

#socialFooter img{
	height: 102px;
	width: 48px;
}

#socialFooter div:hover > img{
	margin-top: -51px;
	cursor: pointer;
}


#twitter a{
	background-color: #75685E;
}
