/*

	TABLE OF CONTENTS
		Global Styles
		Contact


	COLORS
		Yellow:	 	#E3A730
		Dark Gray: 	#362B3C
		Dark Brown: #75685E
		BG Lines:	url('../img/bg.png')
		Box Shadow: 0px 0px 5px rgba(0,0,0,.5)


	MEDIA QUERY BREAK POINTS
		(max-width: 768px)
		(min-width: 769px) and (max-width: 1024px)
		(min-width: 1025px) and (max-width: 1680px)
		(min-width: 1681px)

*/

/*                                     Global Styles  */

*{
	margin:0px;
	padding:0px;
}

ul{
	list-style-type: none;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: middle;
	box-sizing: border-box;
}

nav li{
	padding: 12px 0px;
}

nav a{
	padding: 12px 18px;
}

nav li:hover{
	background-color: rgb(251, 232, 177);
}

nav{
	background-color: #fff;
	//background-image: url(../img/bg.png);
	position: fixed;
	z-index: 9999;
	width: 100%;
	//border-bottom: 4px solid #362B3C;
	box-shadow: 0px 0px 7px rgba(0,0,0,.5);
}

header > a, form input[type="submit"]{
	background-color: white;
	border: 2px solid #362B3C;
	padding: 12px 32px;
	border-radius: 5px;
	cursor: pointer;
}

header > a:hover, form input[type="submit"]:hover{
	border-color: #E3A730;
	transition: border-color .3s;
}

section{
	padding-bottom: 36px;
}




/*                                     Footer */

footer{
	padding: 0px 36px 36px 36px;
	background-color: #75685E;
	border-top: 4px solid #362B3C;

}


#contactContainer{
	display: flex;
}

form{
	flex: 1;
	display: flex;
	flex-flow: column;
	padding-right: 12px;
}

form input, form textarea{
	height:48px;
	box-sizing: border-box;
	margin-bottom: 6px;
	padding: 0px 12px;




		border: 0px solid #362B3C;
		border-radius: 5px;
}

form textarea{
	height: 144px;
	padding: 12px 12px;
}

#socialFooter, #contactSocial{
	flex: 1;
	display: flex;
	flex-flow: column;
	padding-left: 12px;
	padding-right: 12px;
}

#twitter{
	flex:1;
}

#socialFooter div{
	display: inline-block;
	margin: 8px;
	height: 51px;
	width: 48px;
	overflow: hidden;
}

#socialFooter img{
	height: 102px;
	width: 48px;
}

#socialFooter div:hover > img{
	margin-top: -51px;
	cursor: pointer;
}


#twitter a{
	background-color: #75685E;
}
