/*

	TABLE OF CONTENTS
		Header
		About
		Gallery
		Slides
		End Summary
		Final section
		Gists


	COLORS
		Yellow:	 	#E3A730
		Green:		#2B8F83
		Dark Gray: 	#362B3C
		Dark Brown: #75685E
		BG Lines:	url('../img/bg.png')
		Box Shadow: 0px 0px 5px rgba(0,0,0,.5)


	MEDIA QUERY BREAK POINTS
		handheld, (max-width: 48em)
		(min-width: 48.0625em) and (max-width: 64em)
		(min-width: 64.0625em) and (max-width: 105em)
		(min-width: 105.0625em)

*/

html, body{
	height: 100%;
}

nav{
	width: 100%;
	height: 100%;
	top: 0em;
	z-index: 10000;
}

nav li:nth-child(1){
	position: absolute;
	top: .75em;
	right: 1.5em;
}

nav li:nth-child(2){
	position: absolute;
	bottom: .75em;
	left: 1.5em;
}

nav li:nth-child(3){
	position: absolute;
	bottom: .75em;
	right: 1.5em;
}

nav a{
	display: flex;
	align-items: center;
}

nav li polygon{
	fill:#DADBD0;
	transition: fill .3s ease;
}

nav li:hover polygon{
	fill:#fcc457;
	transition: fill .3s ease;
}

nav span{
	opacity: 0;
	transition: opacity .3s ease;
	padding: .75em;
	color: #fcc457;
	text-shadow: 1px 1px 2px #000;
}

nav li:hover span{
	opacity: 1;
	transition: opacity .3s ease;
}




/*                                    Work Sample: Sections */
section{
	box-sizing: border-box;
	border-top: 4px solid #362B3C;
	padding: 18px 72px 108px 72px;
}

section h1{
	flex-basis:100%;
}

@media (min-width: 48.0625em) and (max-width: 64em) {

	section{
		box-sizing: border-box;
		border-top: 4px solid #362B3C;
		padding: 0px 72px 72px 72px;
	}
}

@media handheld, (max-width: 48em){

	section{
		box-sizing: border-box;
		border-top: 4px solid #362B3C;
		padding: 0 0em 36px 0em;
	}

	section p, section h2, section ul, section li{
		padding: 0px .9em;
	}

}

/*                                    Work Sample: Header */


header{
	position: relative;
	display: flex;
	flex-flow: column;
	padding: 72px 24px;
	background-color: #0d8072;
}


header h1{
	text-align: center;
	color: #fff;
	font-size: 4.2em;
	font-weight: 300;
	text-shadow: none;
}

header sup{
	color:#fff;
	vertical-align: super;
	font-size: 40%;
	text-shadow: none;
}

header h2{
	text-align: center;
	color: #fff;
	font-size: 1.6em;
	font-weight: 300;
	line-height: 150%;
	text-shadow: none;
}


.imagebg{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0px;
	left:0px;
}




header img{
	flex:1;
	display: block;
	object-fit: cover;
	object-position: center;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	opacity:.2;
	-webkit-filter: blur(8px);
	filter: blur(8px);
}

@media handheld, (max-width:48em){
	.imagebg{
		display: none;
	}

}


/*                                    Work Sample: About Section */
.details{
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.gallery, .details{
	background-image: url('../img/bg_3.png');
}


.details ul{
	flex-flow: column;
	align-items: flex-start;
	list-style-type: circle;
	list-style-position: inside;
	line-height: 200%;
	margin-top: 6px;
}

.gallery div{
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}

.details div {
	margin-bottom: 36px;
}

.details p, .gallery p{
	max-width: 792px;
}

#skill{
	margin-top: 52px;
}





/*                                    Work Sample: Gallery Section */

.gallery {
	display: flex;
	flex-flow: row wrap;
	background-image: url('../img/bg.png');
}

.gallery h1{
	flex-basis: 100%;
}

.gallery img{
	box-sizing: border-box;
	display: block;
	border: 2px solid #362B3C;
	height: 324px;
	object-fit: cover;
	object-position: center;
	margin:6px;
	min-width: 228px;

}

.gallery div{
	display: flex;
	flex-flow: column;
	align-items: center;
}

.gallery p{
	margin-bottom: 36px;
}

.gallery img{
	flex: 1 0 20%;
}

#research_insight img{
	object-position: top !important;
}

#research_insight img[src*="06"]{
	object-position: left top !important;
}

#research_ikea img[src*="01"],
#research_ikea img[src*="03"],
#research_ikea img[src*="04"],
#research_ikea img[src*="05"],
#research_ikea img[src*="06"],
#research_ikea img[src*="07"],
#research_ikea img[src*="10"]{
	flex: 1 0 10%;
}

#research_ikea img[src*="02"],
#research_ikea img[src*="08"],
#research_ikea img[src*="09"],
#research_ikea img[src*="11"]{
	flex: 1 0 30%;
}

#research_uw img{
	flex: 1 0 10%;
	object-position: top;
}

@media (min-width: 105.0625em){
	#research_insight img, #research_uw img{
		height: 400px !important;
		flex: 1 0 10%;
	}
}

@media (min-width: 48.0625em) and (max-width: 105em) {

	.gallery img{
		min-width: 191px;
		height: 280px;
	}

	#research_insight img{
		object-position: center !important;
	}

	#research_insight img[src*="05"],
	#research_insight img[src*="06"]{
		flex: 2 0 42% !important;
	}

	#research_insight img[src*="06"]{
		object-position: left top!important;
	}

	#research_ikea img[src*="01"],
	#research_ikea img[src*="03"],
	#research_ikea img[src*="04"],
	#research_ikea img[src*="05"],
	#research_ikea img[src*="06"],
	#research_ikea img[src*="07"],
	#research_ikea img[src*="10"]{
		flex: 1 0 10% !important;
	}
	#research_ikea img[src*="02"],
	#research_ikea img[src*="08"],
	#research_ikea img[src*="09"],
	#research_ikea img[src*="11"]{
		flex: 1 0 30% !important;
	}

}

@media handheld, (max-width:90em){
	#research_uw img{
		object-position: top !important;
	}
	#research_uw img[src*="05"]{
		object-position: center !important;
	}
}

@media handheld, (max-width: 48em){


	.gallery img{
		flex: 1 0 46% !important;
		min-width: 50px;
		height: 180px !important;
		margin:0px;
		padding: 0px;
	}

	#research_insight img{
		height: 280px !important;
		object-position: center !important;
	}

	#research_insight img[src*="05"],
	#research_insight img[src*="06"]{
		object-position: left top!important;
	}

	.gallery img[src*="02"],
	.gallery img[src*="04"],
	.gallery img[src*="06"],
	.gallery img[src*="08"],
	.gallery img[src*="10"]{
		border-left:1px solid #fff;
		border-right:2px solid #fff;
		border-bottom:1px solid #fff;
		border-top:1px solid #fff;
	}

	.gallery img[src*="01"],
	.gallery img[src*="03"],
	.gallery img[src*="05"],
	.gallery img[src*="07"],
	.gallery img[src*="09"]{
		border-left:2px solid #fff;
		border-right:1px solid #fff;
		border-bottom: 1px solid #fff;
		border-top:1px solid #fff;
	}
	.gallery img[src*="01"],
	.gallery img[src*="02"]{
		border-top:2px solid #fff;
	}

	.gallery img:last-of-type{
		border-top:1px solid #fff;
		border-left:2px solid #fff;
		border-right:2px solid #fff;
		border-bottom: 2px solid #fff;
	}
}




/*                                   Work Sample: Slides Section */

.slides{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.slides h1{
	flex-basis: 100%;
}

.slides > .fotorama{
	order: 1;
	flex-basis: 100%;
}

.desc{
	line-height: 150%;
	order: 2;
	margin-left: 4%;
	max-width: 792px;
}

.jcp{
	align-items: center;
	justify-content: center;
}


.video {
	display: flex;
	justify-content: center;
}

.video > .fotorama{
	max-width: 60%;
	max-height: 50%;
	margin-top: 0px !important;
	margin-left: auto;
	margin-right: auto;
}


.slides.reverse > .fotorama{
	order: 2;
}

.slides.reverse > div:last-of-type{
	order: 1;
}

.links{
	display: flex;
	justify-content: center;
}

@media handheld, (max-width: 64em){

	.slides > .fotorama{
		max-width: 100%;
		order: 1;
	}

	.desc{
		margin:24px 0px 0px 0px;
		width:100%;
		order: 2;
	}

	.slides.reverse > div:last-of-type{
		margin-left: 0%;
		margin-right: 0%;
	}

	.slides.reverse .fotorama{
		order: 1;
	}

	.slides.reverse > div:last-of-type{
		order: 2;
	}

}

@media (min-width: 64.0625em) and (max-width: 105em){

	.slides > .fotorama{
		max-width: 58%;
	}

	.desc{
		margin-left: 4%;
		margin-right: 0%;
		margin-top: 0px;
		width: 38%;
	}

	.slides.reverse > div:last-of-type{
		margin-left: 0%;
		margin-right: 4%;
		margin-top: 0px;
		width: 38%;
	}

}

@media (min-width: 105.0625em){

	.slides > .fotorama{
		max-width: 64%;
	}

	.desc{
		margin-left: 4%;
		margin-right:0%;
		margin-top: 0px;
		width: 32%;
	}

	.slides.reverse > div:last-of-type{
		margin-left: 0%;
		margin-right: 4%;
		margin-top: 0px;
		width: 32%;
	}

}

.jcp > .fotorama{
	height:85% !important;
	width:  50	% !important;
}

/*                                    Work Sample: End Summary */

.endSummary{
	display: flex;
	flex-flow: column;
	align-items: center;
	background-position: center;
	order: 2;
}

.endSummary > div{
	display: flex;
	justify-content: center;
	width: 100%;

}

.endSummary p{
	max-width: 792px;
	margin: 24px 0px;
}

.endSummary.links{
	flex-flow: row;
}

.endSummary.links a.button{
	background-color: #362B3C;
	border: 2px solid rgba(255, 255, 255, 0.5) ;
	padding: 12px 32px;
	border-radius: 5px;
	cursor: pointer;
	margin: 0px 6px;
	margin-top: 12px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	font-size: 1.25em;
	text-align: center;
}

.endSummary.links a:hover{
	border-color: #E3A730;
	background-color: #fcc457;
	color: #362B3C;
	padding: 12px 32px;
	text-transform: capitalize;
	text-decoration: none;
	transition: border-color .3s ease,
					background-color .3s ease,
					color .3s ease;
}

@media handheld, (max-width: 64em) {

	.endSummary div{
		display: flex;
		flex-flow: column;
	}

	.endSummary.links{
		display: flex;
		flex-flow: column;
		box-sizing: border-box;
		padding-left: .9em;
		padding-right: .9em;
		padding-top: 1.5em;
	}

	.endSummary.links a{
		width: 100%;
		box-sizing: border-box;
	}

	.endSummary div:last-of-type a{
		margin: 6px 0px !important;
	}

}


/*                                  	Work Sample: Final Section */
.final{
	background-color: #362B3C;
}

.final div * {
	color: #fff;
}


/*                                    Gists */

.gist_container{
	display: flex;
	flex-flow: row wrap;
}

.gist_container h1{
	flex-basis: 100%;
}

.gist_container > div{
	margin: 0px 18px;
	width: 100%;
}

.gist_container > div:first-of-type{
	flex:4;
}

.gist_container > div:last-of-type {
	flex: 2;
	width: auto;
}

.gist_container > div p{
	font-size: 			1.25em;
	font-family: 		'Noto Serif', serif;
	color:				#362B3C;
	font-weight: 		300;
	line-height: 		150%;
	margin-bottom:		16px;
	max-width: 			792px;
}

@media handheld, (max-width:90em){

	.gist_container{
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.gist_container > div:first-of-type{
		flex:1;
		order: 2;
	}

	.gist_container > div:last-of-type {
		flex: 1;
		margin-bottom: 36px;
		order: 1;
		display: flex;
		flex-flow: column;
		text-align: left;
	}
}

*.gist *{
	font-family: monospace;
	font-weight: 500;
	font-size: 1em !important;
}

.gist, .gist-file, .gist-data, .js-gist-file-update-container, .js-task-list-container, .file-box{
	max-height: 480px !important;
}
